
<div class="categories">
    <div class="container">
        <div class="col-md-2 focus-grid">
            <a href="categories.html">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-mobile"></i></div>
                        <h4 class="clrchg">Mobiles</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab2">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-laptop"></i></div>
                        <h4 class="clrchg"> Electronics & Appliances</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab3">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-car"></i></div>
                        <h4 class="clrchg">Cars</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab4">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                        <h4 class="clrchg">Bikes</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab5">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                        <h4 class="clrchg">Furnitures</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab6">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-paw"></i></div>
                        <h4 class="clrchg">Pets</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab7">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-book"></i></div>
                        <h4 class="clrchg">Books, Sports & Hobbies</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab8">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                        <h4 class="clrchg">Fashion</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab9">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                        <h4 class="clrchg">Kids</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab10">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-shield"></i></div>
                        <h4 class="clrchg">Services</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab11">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-at"></i></div>
                        <h4 class="clrchg">Jobs</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab12">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-home"></i></div>
                        <h4 class="clrchg">Real Estate</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
